<input type="checkbox" id="cb">
<label for="cb">
    <div class="menu-icon"></div>
</label>
<aside class="sidenav">
    <a href="/" class="img_logo">
        <img src="/assets/images/avatar.jpg">
    </a>
    <div class="sidenav_desc">
        咕的个人博客
    </div>
    <nav class="nav_menu">
        <div class="nav_menu_group">
            <a href="/" class="nav_menu_item">
                首页
            </a>
        </div>
        <div class="nav_menu_group">
            <a href="/Categories.html" class="nav_menu_item">
                分类
            </a>
        </div>
        <div class="nav_menu_group">
            <a href="/blog.html" class="nav_menu_item">
                归档
            </a>
        </div>
        <div class="nav_menu_group">
            <a href="/Tags.html" class="nav_menu_item">
                标签
            </a>
        </div>
        <div class="nav_menu_group">
            <a href="/about" class="nav_menu_item">
                关于
            </a>
        </div>
    </nav>
</aside>
<!-- <div id="toggle-sidebar">bar</div> -->
